html body{
    background-color: black;
    color: white;
}
.navbar{
    background-color: black;
    color:white;
}
.navbar a{
    color: white;
}
.navbar a:hover{
    color: #f54293;
}

.header h1{
    text-align: center;
    color: #f54293;
    font-size: 55px;
    font-family: 'Playfair Display SC', serif;

}a {


    color: white;
}

.footer{
    background-color: #f54293;
    text-align: end;

}
/*INDEX PAGE*/
.color-box-dreamy{
    background-color: #a0b9cd;

}

.fab{
    margin-top: 20px;
    font-weight: 900;
    width: 80px;
    color: #f54293;
    /*margin-bottom: 20px;*/

}
.link-tabs-home .fab{
    color: white;
}

.link-tabs .fab{
    margin-top: 60px;
}

@media screen and (max-width:767px) {
    .link-tabs i{
    text-align: center;
    }

}
@media screen and (max-width:767px) {
    .link-tabs {
        padding-bottom: 40px; }
}

    .text-box1{
    padding-bottom: 10px;
    font-size: 20px;
    text-align: center;
}

/*USE THIS FOR SONG BOXES*/
.home-img img{
    width: 65%;
    /*padding-left: 20px;*/
    padding-top: 20px;
    padding-bottom: 20px;
}
/*PHONE VIEW*/



.dreamy{
    /*padding-left: 150px;*/
    padding-top: 20px;
    color: #1d3ab7;
    font-family: 'Dancing Script', cursive;
}




/*ABOUT PAGE*/
.email-button{
    background-color: #f54293;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
}
.email-button a{
    color: white;
    text-align: center;
}
.email-button a:hover{
    color: white;
}

@media screen and (max-width:767px) {
    .about-zarenae-bio{
        padding-top: 20px;
        text-align: center;
    }
}


/*MUSIC*/
.color-box{
    text-align: center;
}
.color-box-body-talk{
    background-color: #fe9ff0;

}
.body-talk{
    /*padding-left: 150px;*/
    padding-top: 20px;
    color: #dc4030;
    font-family: 'Josefin Slab', serif;
}


.true-blue{
    padding-top: 20px;
    color: #6ec6f9;
    font-family: 'DM Serif Display', serif;
}




    .color-box-true-blue{
    background-color: #2b8197;
        margin-bottom: 40px;
}



@media screen and (max-width:767px) {
.color-box {
    padding-bottom: 20px;
}}

.song-title{
    padding-top: 40px;
}
@media screen and (max-width:767px) {
    .song-title{
        margin-top: -60px;
    }
}
@media (min-width:767px) and (max-width:1047px) {
    .song-title{
        /*margin-bottom: 40px;*/
        margin-top: -45px;
    }
}


/*PHOTOS*/
.photos-img{
    width: 100%;
}
/*ABOUT*/
.profile-image{
    width: 100%;
}

/*SHOWS*/

.show-text{
    margin-top: 140px;
}

